body {
    margin: 0;
}

.grid{
    background-color: purple;
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
    gap: 5px;
    height: 90vh;
    padding: 20px;
}
header, footer{
    grid-column: 1/4
}
header, aside, article, footer{
    border-style: solid;
    background-color: green;
}
#logo img {
    height: 45vh;
    width: auto;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
  
}
aside {

    padding: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #aaa;
}
.mob-name {
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    font-size: 40px;
}

.mob-name:hover {
    color: purple;
    
}
article {
    text-transform: uppercase;
}
article img {
    display: block;
    margin: 0 auto;
}
.donate-link {
    font-weight: bold;
    font-size: 35px;
}