* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("imgs/background.png"); 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
}

#logo img {
    width: 65%; /* Adjust to fit smaller screens */
    height: auto;
    display: block;
    margin: auto;
    padding: 2rem; /* Decreased padding */
    margin-bottom: rem;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#downloadLink {
    padding-left: 11rem;
}

#downloadLink,
#description,
#droprates {
    flex: 1;
    display: flex;
    align-items: center;
}

.download img,
#description img,
#droprates img {
    display: block;
    max-width: 100%;
    height: auto;
}

#description {
    margin-left: 1rem; /* Adjust the spacing between download link and description */
}

.download img:hover,
#description img:hover,
#droprates img:hover {
    filter: hue-rotate(90deg); /* Rotate hue by 90 degrees when hovering */
    border: 2px solid green; /* Add a green border when hovering */
}
