* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("imgs/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#logo img {
    width: 100%; /* Take up the full width */
    max-width: 400px; /* Set maximum width to prevent stretching on larger screens */
    height: auto;
    display: block;
    margin: auto;
    padding: 2rem;
}

#content {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
}

#downloadLink,
#description,
#droprates {
    width: 100%; /* Take up the full width */
    max-width: 400px; /* Limit the maximum width for better readability */
    display: flex;
    align-items: center;
    padding: 1rem;
}

.download img,
#description img,
#droprates img {
    width: 100%; /* Take up the full width */
    height: auto;
}

#description {
    margin-top: 1rem;
}

.download img:hover,
#description img:hover,
#droprates img:hover {
    filter: hue-rotate(90deg);
    border: 2px solid green;
}

@media (min-width: 768px) {
    #logo img {
        max-width: 65%; /* Limit the maximum width for larger screens */
    }
    #content {
        flex-direction: row; /* Align items horizontally on larger screens */
    }
    #downloadLink,
    #description,
    #droprates {
        width: auto; /* Reset width to auto for larger screens */
        max-width: none; /* Reset maximum width for larger screens */
    }
}
